@charset "UTF-8";

// 1. Your custom variables and variable overwrites.
$black-color: #000;
$white-color: #fff;
$red-color: #ee2b37;
$gray-color: #f1f1f1;

// 2. Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() {
    color: #000;
}

// 4. Import UIkit and Addons.
@import "node_modules/uikit/src/scss/uikit-theme.scss";


// 5. Your custom styles.
@import "base";
@import "header";
@import "home";
@import "sobre";
@import "produtos";
@import "acessorios";
@import "blog";
@import "contato";
@import "footer";


// 6. OwlCarousel.
@import "owl/owl.carousel.scss";
@import "owl/owl.theme.default.scss";
@import "owl/owl.theme.green.scss";